.banner {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    transition: all 0.2s ease 0s;
    align-items: center;
    border: 1px solid #2c333e;
}

.banner:hover {
    border: 1px solid #3c4d68;
}

.banner a {
    display: flex;
    align-items: center;
}

.logo-banner p {
    margin-left: 5px;
    font-size: 15px;
}

.banner img {
    width: 50px;
    padding: 1px;
}


.link {
    display: flex;
    align-items: center;
}

.link a button {
    background-color: rgb(80, 121, 209);
    padding: 7px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.link a button:hover {
    background-color: rgb(53, 83, 148);
    color: white;
}

@media only screen and (max-width: 1300px) {
    .banner  {
        width: 100%;
    }
}