.warning-content {
    max-width: 65%;
    background-color: #f0c8178f;
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 20px;
}

.warning-content p {
    text-align: center;
    padding: 20px;
    color: #e0e266;
}


.warning-content a {
    color: rgb(80, 121, 209);
}

.warning-content a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
    .warning-content {
        max-width: 95%;
    }
}