.notice-box {
    max-width: 100%;
    background: rgb(0,95,255);
    background: linear-gradient(90deg, rgba(0,95,255,1) 0%, rgba(48,132,190,1) 45%, rgba(30,164,190,1) 100%);
    display: flex;
    justify-content: center;
    padding: 15px;
    color: white;
}

.notice {
    text-align: center;
    width: 40%;
}

@media only screen and (max-width: 1300px) {
    .notice  {
        width: 95%;
    }
}

@media only screen and (max-width: 300px) {
    .notice  {
        font-size: 13px;
    }
}