#backtop {
    position: fixed;
    bottom: 20px; right: 20px;
    z-index: 999;
    visibility: none;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.a3s;
  }
  
  #backtop.show {
    visibility: visible;
    opacity: 1;
  }
  