@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #242a33;
}


.help-items a {
    background-color: rgb(64, 159, 255);
    color: white;
    padding: 8px 8px;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.help-items p {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.arrow {
    background-color: #2c333e73;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.help {
    margin: 0;
    color: white;
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 60%;
    justify-content: center;
    margin: 0px auto;
}

@media only screen and (max-width: 1300px) {
    .help-items  {
        width: 80%;
    }
}

.help-items a:hover {
    background-color: rgb(53, 83, 148);
}

.menu-items {
    width: 100%;
    background-color: #2c333e;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    display: block;
    top: 0;
}

.content {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin: 20px auto;
    background-color: #2c333e;
}

#content {
    background-color: #2c333e;
    margin: 0 auto;
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
}

@media only screen and (max-width: 1300px) {
    #content  {
        width: 100%;
    }
}

.name-box {
    color: rgb(68, 131, 194);
    width: 100%;
}

.name-box h3 {
    padding: 10px;
    font-size: 20px;
}

.content h2 {
    text-align: center;
    color: white;
}

.content img {
    width: 100%;
}

select {
    color: white;
    background-color: #2c333e;
    border: 1px solid rgb(65, 62, 62);
    outline: 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    -webkit-appearance: none;
}

@media only screen and (max-width: 650px) {
    .content  {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    #content  {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .content  {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    #content  {
        width: 80%;
    }
}


@media only screen and (min-width: 1300px) {
    .content  {
        width: 40%;
    }
}

@media only screen and (min-width: 1300px) {
    #content  {
        width: 40%;
    }
}




.menu-box {
    margin: 0 auto;
    width: 100%;
    background-color: #2c333e;
    display: flex;
    padding: 10px;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    .menu-box  {
        font-size: 12px;
    }
}

.menu-box a {
    color: rgb(80, 121, 209);
    margin-left: 0px;
}

.menu-wrap {
    display: flex;
    gap: 15px;
    color: white;
    align-items: center;
    margin-left: 10px;
    flex-wrap: wrap;
}

.notice-box {
    max-width: 100%;
    background: rgb(0,95,255);
    background: linear-gradient(90deg, rgba(0,95,255,1) 0%, rgba(48,132,190,1) 45%, rgba(30,164,190,1) 100%);
    display: flex;
    padding: 0px;
    justify-content: center;
    height: 4px;
}

.nodb {
    display: none;
}

.notice {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notice h3 {
    display: flex;
    justify-content: center;
    color: white;
}


.notice a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    width: 100%;
}

hr {
    border: 1px solid #3c4d68;
}

.footer {
    margin-top: 15px;
    width: 100%;
    background-color: #2c333e;
}

.footer-content {
    color: rgb(80, 121, 209);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
}

.footer-items {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.footer-links {
    flex-direction: column;
    color: rgb(80, 121, 209);
}

.footer-links a {
    color: rgb(80, 121, 209);
}

.footer-links a:hover {
    text-decoration: underline;
}


.footer-box {
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
    .footer-box  {
        width: 90%;
    }
}

@media only screen and (max-width: 1300px) {
    .footer-content  {
        width: 90%;
    }
}

.fa-brands {
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.footer-under-box {
    color: white;
    text-align: center;
    width: 100%;
}

.footer-under-box h2 {
    font-size: 17px;
}

.footer-under-box p {
    padding: 5px;
    padding-bottom: 20px;
}

.fa-brands:hover {
    color: rgb(80, 121, 209);
}

